.sidenav {
  @apply fixed top-0 left-0 w-full flex  justify-center transition-transform max-sm:transition-all ease-in-out bg-backgound bg-opacity-50 backdrop-blur-md;
}
.sidenav ul {
  @apply flex flex-col transition-all max-md:overflow-hidden  sm:flex-row sm:justify-center items-start sm:items-center flex-grow  px-6;
}
.sidenav ul .list {
  @apply list-none transition-all max-sm:gap-4 text-[15.7px] font-light  md:text-base flex flex-col sm:flex-row sm:justify-end sm:pr-0 items-start sm:items-center flex-grow gap-3 max-w-6xl sm:px-6 justify-end;
}
.sidenav .link {
  @apply flex justify-center items-center  py-3 sm:px-4 md:px-6 font-medium text-[17px]  text-white flex-col;
  &::first-child {
    @apply sm:ml-auto;
  }
}
.close-btn {
  //create a humberger icon
  @apply relative sm:hidden flex items-center cursor-pointer transition-all duration-100 ease-in-out;
  &::before {
    @apply absolute rounded top-0 left-0 w-full h-1 bg-white transition-all content-[''];
  }
  &::after {
    @apply absolute rounded bottom-0  w-full h-1 transition-all bg-white content-[''];
  }
}

.download {
  @apply py-3 px-5 bg-gradient-to-r from-amber-400 to-amber-600 hover:brightness-90 transition-all duration-500 text-backgound font-bold text-[17px] rounded-full;
}

.active {
  @apply relative transition-all cursor-pointer bottom-0  left-0  h-[2px] bg-orange-400 rounded-full;
  content: "";
}
.hover {
  @apply w-0;
}

.sidenav .link:hover > .hover {
  @apply w-1/3;
}

.downloadButton {
  @apply px-6 cursor-pointer py-3 w-fit  max-sm:text-base text-lg text-white rounded-md  relative transition-all;
  &::before {
    @apply absolute top-0 left-0 w-14  h-full bg-gradient-to-r from-amber-400 to-amber-600 rounded-full;
    content: "";
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    @apply text-backgound font-semibold;
    &::before {
      @apply w-full;
    }
  }
}
