@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monterast";
  src: url("/fonts/montserrat-regular.woff2");
  letter-spacing: 0px;
}

@font-face {
  font-family: "Monterast SemiBold";
  src: url("/fonts/Montserrat-SemiBold.ttf");
  letter-spacing: 0px;
}
@font-face {
  font-family: "Monterast Bold";
  src: url("/fonts/Montserrat-Bold.ttf");
  letter-spacing: 0px;
}
@font-face {
  font-family: 'Monterast ExtraBold';
  src: url('/fonts/Montserrat-ExtraBold.ttf');
  letter-spacing: 0px;
}
@font-face {
  font-family: "Monterast Black";
  src: url("/fonts/Montserrat-Black.ttf");
  letter-spacing: 0px;
}
@font-face {
  font-family: "Cairo Bold";
  src: url("/fonts/Cairo-Regular.ttf");
}

@font-face {
  font-family: "Calibre";
  src: url("/fonts/Calibre-Regular.woff2");
}
@font-face {
  font-family: "Calibre Bold";
  src: url("/fonts/Calibre-Bold.woff2");
}

@font-face {
  font-family: "Calibre SemiBold";
  src: url("/fonts/Calibre-Semibold.woff2");
}

@font-face {
  font-family: "Calibre Black";
  src: url("/fonts/Calibre-Black.woff2");
}
:root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  @apply bg-backgound text-icon font-monterast;
  /* overflow-x: hidden; */
}
